<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" name="viewport">
	<meta name="form-detection" content="telephone=no,email=no">
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="../../css/timeline.css">
</head>
<body style="background-color:#eee">
	<%- include('components/nav') %>
    <%- include('components/typeList') %>
    <%- include('components/calculator') %>
	<%if(flag === 'change'){%>
    	<input style="display:none" value="<%=selectType._id%>" id="item-id">
		<input style="display:none" value="<%=selectType.date%>" id="item-date">
	<%}%>
    <script src="../../js/edit.js"></script>
</body>
</html>