<% if(list && list.length > 0){ %>
<div class="item-list">
	<% for(var i = 0;i < list.length; i++){%>
		<%var item = list[i];%>
		<div class="group">
			<a class="icon icon-round icon-time icon-small" href="/detail/<%=item._id%>"></a>
			<span><%=item._id%></span>
		</div>
		<% for(var j = 0;j < list[i].item.length;j++){
			var temp = list[i].item[j];%>
		
		<div class="group">
			<a class="icon icon-round icon-middle icon-<%=temp.category%>" href="/edit/change/<%=temp._id%>"></a>
			<span><%=temp.typeName%>:&yen<%=temp.money%></span>
		</div>
		<%}
	 }%>
</div>
<%}else{ %>
	<%- include('./add') %>
<%}%>